<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Works</title>
</head>
<nav>
    <ul>
        <li><a href="/Home">Home</a></li>
        <li><a href="/About">About</a></li>
        <li><a href="/Works">Works</a></li>
    </ul>
</nav>
<main id="works">
    <img src="/images/zizo real.jpg" alt="">
    <p>On 4 January 2016, Real Madrid announced the dismissal of coach Rafael Benítez and on the same day Zidane was appointed the new coach of the club on a two-and-a-half-year deal. His first match as the club's new manager took place five days later, when Real Madrid beat Deportivo La Coruña 5–0 in a La Liga match. In his first El Clásico as a coach, held on 2 April at the Camp Nou, Zidane led his club to a 2–1 win over Barcelona to end Barça's 39-match unbeaten run.
        On 4 May, Zidane led Real Madrid to a place in the 2016 UEFA Champions League Final by beating Manchester City 1–0 on aggregate. In La Liga, Real Madrid finished runners up, just one point behind Barcelona. In the Champions League final on 28 May, Real Madrid defeated fellow Madrid club Atlético Madrid in a penalty shootout to grab the 11th European Cup (La Undécima) in club history. Zidane became the seventh man to win the European Cup (now UEFA Champions League) both as a player and a coach and the second man (after Miguel Muñoz) to win the trophy with Real Madrid as both a player and a coach, and the first French coach, except the French-Argentinian Helenio Herrera, to win the trophy
    </p>
</main>
<body>
</body>
</html>